*.md @jwitz @paolaperaza @lzdanski

/astro/ @jwitz @paolaperaza @lzdanski

/software/ @jwitz @paolaperaza @lzdanski

/learn/ @TJaniF @kentdanas @jwitz @paolaperaza @lzdanski

/code-samples/dags/ @TJaniF @kentdanas

/astro/best-practices/ @TJaniF @kentdanas

/astro/runtime-release-notes.md @astronomer/runtime-reviewers

